.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__copyright {
  padding: 60px 0;
  color: rgba(33, 33, 33, 0.7);
  height: 16px;
  width: 104px;
  font-weight: 400;
}
