.modal {
  height: 100vh;
  width: 100vw;
  background-color: rgba(33, 33, 33, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding-left: 10px;
  padding-right: 10px;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.5s, opacity 0.5s ease-in-out;
}

.modal_opened {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s, opacity 0.5s ease-in-out;
}

.modal__container {
  max-width: 730px;
  width: 100%;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 8px;
  position: relative;
}

.modal__container_type_preview {
  padding: 0;
  background: none;
  position: relative;

  max-width: 100%;
  width: auto;
  display: inline-block;
}

.modal__caption {
  margin: 8px 0 0;
  background: #212121;
  color: #fff;
  border-radius: 8px;
  padding: 4px 8px;
  display: inline-block;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
}

.modal__image {
  width: 100%;
  height: auto;
  display: block;
  max-width: 80vw;
  max-height: 80vh;
  border-radius: 8px;
  margin: 0 auto;
}

.modal__title {
  font-family: Poppins;
  font-size: 32px;
  font-weight: 500;
  line-height: 32px;
  text-align: left;
  margin: 0;
  margin: 32px 50px 0;
}

.modal__form {
  margin: 32px 50px;
}

.modal__label {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 17.6px;
  text-align: left;
  color: rgba(33, 33, 33, 0.7);
  /*width: 49px;
  height: 18px;*/
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 32px;
}

.modal__input {
  padding: 16px 0 16px 12px;
  border-radius: 8px;
  border: 1px solid rgba(33, 33, 33, 0.4);
  color: rgba(33, 33, 33, 1);
  /*width: 100%;*/
  margin-bottom: 0;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
  color: rgba(33, 33, 33);
}

.modal__input-type-error {
  border: 1px solid rgba(255, 0, 0, 0.6);
}

.modal__input-error {
  color: #ff0000b2;
  display: block;
  visibility: hidden;
}

.modal__input-error_active {
  visibility: visible;
}

.modal__input:hover {
  border: 1px solid rgba(33, 33, 33, 1);
}

.model__input::placeholder {
  opacity: 0.3;
}

.modal__close-btn {
  border-style: none;
  position: absolute;
  top: 32px;
  right: 50px;
  height: 40px;
  width: 40px;
  background-image: url(../images/close_icon.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: #ffffff;
  padding: 0;
}

.modal__close-btn_type_preview {
  background-image: url(../images/preview-close-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  top: 0;
  right: -52px;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0);
}

.modal__close-btn:hover {
  background-image: url(../images/close_icon-hover.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: #ffffff;
}

.modal__close-btn_type_preview:hover {
  background-image: url(../images/close_icon.svg);
  background-color: rgba(0, 0, 0, 0);
}

.modal__submit-btn {
  width: 156px;
  padding: 18px 0;
  border-radius: 8px;
  border-style: none;
  background: rgba(33, 33, 33, 1);
  color: rgba(252, 245, 229, 1);
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
}

.modal__submit--btn_disabled {
  background: #212121;
  opacity: 0.5;
}

@media screen and (max-width: 645px) {
  .modal__container {
    min-width: 300px;
  }

  .modal__title {
    font-size: 20px;
    line-height: 20px;
    margin: 12px 12px 0;
    padding: 10px 170px 10px 0;
  }

  .modal__form {
    margin: 24px 12px 12px;
  }

  .modal__close-btn {
    top: 12px;
    right: 12px;
  }

  .modal__submit-btn {
    width: 100%;
  }

  .modal__input {
    margin-bottom: 24px;
    font-family: Poppins;
    font-size: 16px;
    line-height: 16px;
  }

  /* preview modal */

  .modal__close-btn_type_preview {
    top: -48px;
    right: 0px;
  }

  .modal__image {
    width: 100%;
    max-width: none;
  }
}
